@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my application</h1>
    <p>
        This is the home page of the ASP.NET Core MVC application.
        @* write a description of this application *@
        This application demonstrates the use of the Model-View-Controller (MVC) architectural pattern to build dynamic, data-driven web applications using ASP.NET Core. It showcases features such as routing, controllers, views, and data binding to create a seamless user experience.

    </p>
</div>
